@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    font-family: 'Raleway', sans-serif ;
    
    background: -webkit-linear-gradient(90deg, #2d50ff, #000000,#000000);
   
  }
.main p{
    color: white;
} 