@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    font-family: 'Raleway', sans-serif ;
    
    
   
  }
.main p{
    color: black;
} 

.main {
  font-family: 'Raleway', sans-serif;
  background: url('https://static.wixstatic.com/media/8dd0e1_ddc836d7b97d4aa986a5035d709531b9~mv2.png/v1/fill/w_902,h_640,al_c,q_90,enc_avif,quality_auto/8dd0e1_ddc836d7b97d4aa986a5035d709531b9~mv2.png')
      no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  color: white; /* Ensures text is visible */
  position: relative;
}
