@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.sidebar {
    font-family: 'Raleway', sans-serif ;
    background: -webkit-linear-gradient(90deg,#030c21,#000000);
}

.sidebar .sidebar-icons p{

    color: rgb(63, 184, 73);
}